flake8
mypy
pytest
pytest-asyncio
bleak
aioconsole
numpy
pyobjc; platform_system == "Darwin"
twisted; platform_system == "Linux"
dbus-next; platform_system == "Linux"
git+https://github.com/gwangyi/pysetupdi; platform_system == "Windows"
pywin32; platform_system == "Windows"